:root {
  --principal-font: "Candara";
  --color-yellow-boxa: #fbc23d;
  --color-green-button: #021b14;
  --color-green-background: #0d1612;
  --color-green-decoration: #138e68;
}
p,
ul {
  font-family: var(--principal-font);
  font-size: 1rem;
  color: white;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  font-family: var(--principal-font);
  color: white !important;
  font-weight: bold !important;
  font-size: 3.68rem !important;
}
@media (max-width: 400px) {
  h2,
  h1 {
    font-size: 2.4em !important;
  }
}

/* Superior Bar */
@media (min-width: 1420px) {
  nav {
    padding-left: 300px !important;
    padding-right: 300px !important;
  }
}
nav {
  box-shadow: 0px 6px 0px #00000029;
  background: rgb(7, 78, 62);
  background: linear-gradient(
    90deg,
    rgba(7, 78, 62, 1) 0%,
    rgba(1, 29, 23, 1) 100%
  );
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand img {
  position: relative;
  bottom: 4px;
}
.navbar-brand span {
  font-family: var(--principal-font);
  font-weight: bold;
  padding: 0.5rem;
  font-size: 2.188rem;
  position: relative;
  top: 4px;
  color: white;
  padding-left: 34px;
}
.boxa-logo {
  width: 60px;
  height: 52px;
}
a.nav-link {
  font-size: 1.25rem;
  color: white;
}
.nav-item {
  padding-left: 30px;
  padding-right: 1.875rem;
  font-family: var(--principal-font);
}
.nav-item a:hover {
  color: var(--color-yellow-boxa);
}
/* Top banner */
.boxa-top-banner {
  background-image: url(/img/img_real_estate_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 769px) {
  .boxa-top-banner {
    min-height: 673px;
  }
}
@media (min-width: 1921px) {
  .boxa-top-banner {
    background-size: cover;
  }
}
.text-banner {
  padding-top: 17%;
  position: relative;
}
.text-banner h1 {
  font-family: var(--principal-font);
  color: white;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 6.81rem !important;
  position: relative;
  left: -6px;
  top: -18px;
}
.text-banner h2 {
  position: relative;
  bottom: 40px;
  z-index: 1;
}
.green-line-boxa {
  display: block;
  border-top: 27px solid var(--color-green-decoration);
  width: 231px;
  position: relative;
  left: 70px;
  bottom: 85px;
  z-index: 0;
}
@media (max-width: 590px) {
  .green-line-boxa {
    display: none;
  }
}
@media (min-width: 1420px) {
  .container-box {
    width: 83%;
    margin-left: 300px !important;
    margin-right: 300px !important;
  }
}
.container-box {
  position: relative;
  width: 100%;
}
.join-buttons-section {
  position: absolute;
  bottom: -30px;
  right: 0;
  display: flex;
  background-color: var(--color-green-background);
  align-items: center;
}
.join-button:hover {
  background-color: var(--color-green-decoration);
  color: white;
}
.join-button img {
  padding-right: 10px;
}
.join-button img.filter-img {
  filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(26deg) brightness(103%)
    contrast(103%);
}
@media (max-width: 768px) {
  .join-buttons-section {
    flex-direction: column;
    position: relative;
    justify-content: center;
  }
  .join-button {
    margin-right: 0 !important;
  }
}
.yellow-line-boxa {
  display: block;
  border-top: 7px solid var(--color-yellow-boxa);
  width: 53px;
}
.join-buttons-section h3 {
  font-family: var(--principal-font);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 19px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.join-button {
  background-color: var(--color-yellow-boxa);
  border-radius: 3px;
  color: var(--color-green-button);
  font-family: var(--principal-font);
  font-size: 1.875rem;
  font-weight: bold;
  border: none;
  padding: 4px 20px;
  margin-top: 6px;
  margin-bottom: 11px;
  margin-right: 20px;
}
.join-button img {
  padding-right: 10px;
}
img[alt="Telegram"] {
  position: relative;
  bottom: 3px;
}
.navbar-nav li.active {
  color: white;
  font-weight: bold;
}
/* Title section */
.real-estate-background {
  padding-top: 7%;
  padding-bottom: 2%;
  background-color: var(--color-green-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-position: right -400px top 5%, left -400px top 65%,
    right -400px top 100%;
  background-image: url(/img/gradient-background.svg),
    url(/img/gradient-background.svg), url(/img/gradient-background.svg);
  background-repeat: no-repeat;
}
.real-estate-background > div {
  align-self: center;
}
@media (min-width: 1200px) {
  .container-text-boxa {
    padding-left: 10% !important;
    padding-right: 7% !important;
  }
}
.real-estate-wrapper {
  display: flex;
  max-width: 1460px;
  margin-top: 5%;
}
.left-wrapper {
  margin-left: 10%;
  margin-right: 5%;
}
.right-wrapper {
  margin-left: 5%;
  margin-right: 10%;
  flex-direction: row-reverse;
}
.real-estate-description {
  padding-left: 20px;
  padding-right: 20px;
}
.fill-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill-img-container img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.real-estate-description h3 {
  color: white;
}
.real-estate-description h4 {
  color: var(--color-yellow-boxa);
}
.real-estate-description {
  background-color: rgba(13, 22, 18, 0.8);
}
/* Become a partner section */
.become-partner-sec {
  background: rgb(251, 194, 61);
  background: linear-gradient(
    101deg,
    rgba(251, 194, 61, 1) 57%,
    rgba(191, 65, 0, 1) 100%
  );
}
.become-partner {
  padding-top: 6%;
  padding-bottom: 8%;
  background-color: var(--color-green-background);
}
.become-partner-sec img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 15px;
  margin-top: -20px;
  margin-bottom: -20px;
}
@media (max-width: 768px) {
  .become-partner-sec img {
    margin: auto !important;
  }
  .become-partner-sec h2,
  .become-partner-sec p {
    padding: 0px 40px;
  }
  .become-partner-sec .row {
    padding: 20px 0px;
  }
}
.become-partner-sec h2,
.become-partner-sec p {
  color: var(--color-green-background) !important;
}
@media (max-width: 1200px) {
  .real-estate-wrapper {
    flex-direction: column;
  }
  .real-estate-description {
    padding-top: 50px;
  }
}
/* Call Oportunities Section */
@media (max-width: 1420px) {
  .call-oportunities {
    display: none !important;
  }
}
.call-oportunities {
  position: relative;
  width: 100%;
  background-color: var(--color-green-background);
}
.call-oportunities h3 {
  color: #e9b439;
  font-size: 2.68rem;
  font-weight: bold;
  font-family: var(--principal-font);
}
.call-oportunities .carousel-caption {
  bottom: 45%;
  padding-bottom: 0;
}
/* Footer Section */
footer {
  background: rgb(7, 78, 62);
  background: linear-gradient(
    90deg,
    rgba(7, 78, 62, 1) 0%,
    rgba(1, 29, 23, 1) 100%
  );
  padding: 70px 0px;
  border-top: 8px solid var(--color-yellow-boxa);
}
footer h3 {
  font-family: var(--principal-font);
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
}
.text-container-footer h4 {
  position: relative;
  font-family: var(--principal-font);
  font-size: 2.813rem;
  font-weight: bold;
  color: white;
  z-index: 1;
}
footer .row.padding-section {
  align-items: top;
}
.text-container-footer {
  position: relative;
}
.community-footer {
  position: relative;
}
.text-container-footer span {
  border-top: 27px solid var(--color-green-decoration);
  width: 112px;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 27px;
  z-index: 0;
}
footer a {
  font-size: 0.875rem;
}
footer a,
footer a:visited {
  color: var(--color-yellow-boxa);
}
footer a:hover {
  color: white;
}
footer .yellow-line-boxa {
  position: absolute;
  top: -15px;
}
footer .row .col-6:last-child h3 {
  padding-top: 20px;
}
footer .row .col-6 h3 {
  margin-bottom: 0px;
}
footer .padding-section div.col-12:not(:first-child) {
  margin-top: 2%;
}
footer .join-button img {
  position: relative;
  bottom: 0.2rem;
}
@media (max-width: 768px) {
  .container-fluid .padding-section .col-12 {
    margin: auto;
  }
  footer .yellow-line-boxa {
    display: none;
  }
  footer.container-fluid .row div.col-12 {
    text-align: center;
  }
  .text-container-footer span {
    display: none;
  }
}
@media (max-width: 1420px) and (min-width: 768px) {
  footer .row.padding-section {
    padding-left: 200px;
  }
}
@media (min-width: 1420px) {
  .padding-section {
    padding-left: 300px;
    padding-right: 300px;
  }
}
@media (min-width: 1420px) and (max-width: 1660px) {
  .padding-section {
    padding-right: 150px;
  }
}
