:root {
  --principal-font: "Candara";
  --color-yellow-boxa: #fbc23d;
  --color-green-button: #021b14;
  --color-green-background: #0d1612;
  --color-green-decoration: #138e68;
}
p {
  font-family: var(--principal-font);
  font-size: 0.875rem;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  font-family: var(--principal-font);
  color: white !important;
  font-weight: bold !important;
  font-size: 3.68rem !important;
}
@media (max-width: 400px) {
  h2,
  h1 {
    font-size: 2.4em !important;
  }
}

/* Superior Bar */
@media (min-width: 1420px) {
  nav {
    padding-left: 300px !important;
    padding-right: 300px !important;
  }
}
nav {
  box-shadow: 0px 6px 0px #00000029;
  background: rgb(7, 78, 62);
  background: linear-gradient(
    90deg,
    rgba(7, 78, 62, 1) 0%,
    rgba(1, 29, 23, 1) 100%
  );
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand img {
  position: relative;
  bottom: 4px;
}
.navbar-brand span {
  font-family: var(--principal-font);
  font-weight: bold;
  padding: 0.5rem;
  font-size: 2.188rem;
  position: relative;
  top: 4px;
  color: white;
  padding-left: 34px;
}
.boxa-logo {
  width: 60px;
  height: 52px;
}
a.nav-link {
  font-size: 1.25rem;
  color: white;
}
.nav-item {
  padding-left: 30px;
  padding-right: 1.875rem;
  font-family: var(--principal-font);
}
.nav-item a:hover {
  color: var(--color-yellow-boxa);
}
/* Top banner */
.boxa-top-banner {
  background-image: url(/img/img_tokenomics-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 769px) {
  .boxa-top-banner {
    min-height: 673px;
  }
}
.text-banner {
  padding-top: 17%;
  position: relative;
}
.text-banner h1 {
  font-family: var(--principal-font);
  color: white;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 6.81rem !important;
  position: relative;
  left: -6px;
  top: -18px;
}
.text-banner h2 {
  position: relative;
  bottom: 40px;
  z-index: 1;
}
.green-line-boxa {
  display: block;
  border-top: 27px solid var(--color-green-decoration);
  width: 231px;
  position: relative;
  left: 130px;
  bottom: 85px;
  z-index: 0;
}
@media (max-width: 590px) {
  .green-line-boxa {
    display: none;
  }
}
@media (min-width: 1420px) {
  .container-box {
    width: 83%;
    margin-left: 300px !important;
    margin-right: 300px !important;
  }
}
.container-box {
  position: relative;
  width: 100%;
}
.join-buttons-section {
  position: absolute;
  bottom: -30px;
  right: 0;
  display: flex;
  background-color: var(--color-green-background);
  align-items: center;
}
.join-button:hover {
  background-color: var(--color-green-decoration);
  color: white;
}
.join-button img {
  padding-right: 10px;
}
.join-button img.filter-img {
  filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(26deg) brightness(103%)
    contrast(103%);
}
@media (max-width: 768px) {
  .join-buttons-section {
    flex-direction: column;
    position: relative;
    justify-content: center;
  }
  .join-button {
    margin-right: 0 !important;
  }
}
.yellow-line-boxa {
  display: block;
  border-top: 7px solid var(--color-yellow-boxa);
  width: 53px;
}
.join-buttons-section h3 {
  font-family: var(--principal-font);
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 19px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.join-button {
  background-color: var(--color-yellow-boxa);
  border-radius: 3px;
  color: var(--color-green-button);
  font-family: var(--principal-font);
  font-size: 1.875rem;
  font-weight: bold;
  border: none;
  padding: 4px 20px;
  margin-top: 6px;
  margin-bottom: 11px;
  margin-right: 20px;
}
.join-button img {
  padding-right: 10px;
}
img[alt="Telegram"] {
  position: relative;
  bottom: 3px;
}
.navbar-nav li.active {
  color: white;
  font-weight: bold;
}
/* Tokenomics Section */
.tokenomics-section {
  background-color: var(--color-green-background);
  padding-top: 120px;
  padding-bottom: 60px;
}
@media (min-width: 1400px) {
  .tokenomics-section .row {
    padding-right: 100px;
    padding-left: 260px;
  }
}
@media (min-width: 1660px) {
  .tokenomics-section .row {
    padding-right: 300px;
    padding-left: 300px;
  }
}
.numbers-information-full {
  padding: 50px 40px !important;
  background: rgba(0, 0, 0, 0.3);
}
.top-numbers-token h2 {
  font-size: 2.438rem !important;
  font-weight: 400 !important;
}
p {
  font-size: 1.125rem;
  color: white;
  font-family: var(--principal-font);
}
.token-img {
  position: relative;
  right: 30px;
}
.green-line-numbers {
  width: 119px;
  display: block;
  border-top: 9px solid var(--color-green-decoration);
  position: relative;
  left: 28%;
  top: -17px;
}
@media (max-width: 768px) {
  .let-info-tokens {
    justify-content: center;
  }
}
@media (max-width: 1098px) {
  .green-line-numbers {
    display: none;
  }
}
.right-numbers-token {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  .right-numbers-token {
    display: flex;
    padding-bottom: 20px;
    margin: auto;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .hide-min {
    display: none;
  }
}

.right-numbers-token p {
  font-size: 0.875rem;
  color: white;
  margin-bottom: 0px;
}
.right-numbers-token p span {
  color: var(--color-yellow-boxa);
  font-weight: bold;
  font-size: 1.25rem;
}
.yellow-square-grid {
  background: rgb(251, 194, 61);
  background: linear-gradient(
    143deg,
    rgba(251, 194, 61, 1) 0%,
    rgba(251, 194, 61, 1) 20%,
    rgba(163, 105, 43, 1) 50%,
    rgba(191, 65, 0, 1) 80%,
    rgba(191, 65, 0, 1) 100%
  );
  border-radius: 30px;
}
.black-caption {
  display: inline-block;
  position: relative;
  padding: 0px 20px;
  left: -2%;
  top: 40%;
  background-color: var(--color-green-background);
  box-shadow: 7px 6px 0px #00000029;
}
.caption-50 * {
  font-family: var(--principal-font);
  color: white;
}
.caption-50 h3,
h4 {
  font-weight: bold;
}
.caption-50 h3 {
  font-size: 4.6rem;
}
.caption-50 h4 {
  font-size: 1rem;
}
.caption-50 p {
  font-size: 0.7rem;
}
.green-square-grid {
  background: rgb(17, 177, 127);
  background: linear-gradient(
    224deg,
    rgba(17, 177, 127, 1) 0%,
    rgba(0, 149, 139, 1) 50%,
    rgba(0, 38, 26, 1) 100%
  );
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.caption-25 * {
  font-family: var(--principal-font);
  color: white;
}
.caption-25 h3,
h4 {
  font-weight: bold;
}
.caption-25 h3 {
  font-size: 3.6rem;
}
.caption-25 h4 {
  font-size: 1.25rem;
}
.caption-25 p {
  font-size: 0.875rem;
}
.black-caption.caption-25 {
  top: 20%;
}
.w-50.d-flex {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.w-33 {
  width: 33.33%;
}
.gray-square-grid {
  background: transparent
    linear-gradient(225deg, #858585 0%, #2e2e2e 70%, #212121 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.caption-16 * {
  font-family: var(--principal-font);
  color: white;
}
.caption-16 h3,
h4 {
  font-weight: bold;
}
.caption-16 h3 {
  font-size: 1.875rem;
}
.caption-16 h4 {
  font-size: 0.875rem;
}
@media (max-width: 1660px) {
  .caption-16 h3 {
    font-size: 1.4rem;
  }
  .caption-16 h4 {
    font-size: 0.6rem;
  }
  .caption-25 h3 {
    font-size: 3.6rem;
  }
  .caption-25 h4 {
    font-size: 1rem;
  }
  .caption-25 p {
    font-size: 0.7rem;
  }
}
/* Squares Test */
.squares-container {
  min-height: 350px;
  width: auto;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 1660px) {
  .squares-container {
    min-height: 370px;
  }
}
.yellow-square-grid {
  grid-column: 1/3;
  grid-row: 1/3;
}
.gray-square-grid-container {
  grid-column: 3/5;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
@media (max-width: 600px) {
  .squares-container {
    min-height: 900px;
    width: auto;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .yellow-square-grid {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .green-square-grid.green-1 {
    grid-column: 1/4;
    grid-row: 4/6;
  }
  .green-square-grid.green-2 {
    grid-column: 1/4;
    grid-row: 6/8;
  }
  .gray-square-grid-container {
    grid-column: 1/4;
  }
}
/* Footer Section */
footer {
  background: rgb(7, 78, 62);
  background: linear-gradient(
    90deg,
    rgba(7, 78, 62, 1) 0%,
    rgba(1, 29, 23, 1) 100%
  );
  padding: 70px 0px;
  border-top: 8px solid var(--color-yellow-boxa);
}
footer h3 {
  font-family: var(--principal-font);
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
}
.text-container-footer h4 {
  position: relative;
  font-family: var(--principal-font);
  font-size: 2.813rem;
  font-weight: bold;
  color: white;
  z-index: 1;
}
footer .row.padding-section {
  align-items: top;
}
.text-container-footer {
  position: relative;
}
.community-footer {
  position: relative;
}
.text-container-footer span {
  border-top: 27px solid var(--color-green-decoration);
  width: 112px;
  display: block;
  position: absolute;
  bottom: 2px;
  left: 27px;
  z-index: 0;
}
footer a {
  font-size: 0.875rem;
}
footer a,
footer a:visited {
  color: var(--color-yellow-boxa);
}
footer a:hover {
  color: white;
}
footer .yellow-line-boxa {
  position: absolute;
  top: -15px;
}
footer .row .col-6:last-child h3 {
  padding-top: 20px;
}
footer .row .col-6 h3 {
  margin-bottom: 0px;
}
footer .padding-section div.col-12:not(:first-child) {
  margin-top: 2%;
}
footer .join-button img {
  position: relative;
  bottom: 0.2rem;
}
@media (max-width: 768px) {
  .container-fluid .padding-section .col-12 {
    margin: auto;
  }
  footer .yellow-line-boxa {
    display: none;
  }
  footer.container-fluid .row div.col-12 {
    text-align: center;
  }
  .text-container-footer span {
    display: none;
  }
}
@media (min-width: 1420px) {
  .padding-section {
    padding-left: 300px;
    padding-right: 300px;
  }
}
@media (max-width: 1420px) and (min-width: 768px) {
  footer .row.padding-section {
    padding-left: 200px;
  }
}
@media (min-width: 1420px) and (max-width: 1660px) {
  .padding-section {
    padding-right: 150px;
  }
}
