#remove html file extension-e.g. https://example.com/file.html will become https://example.com/file
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
RewriteEngine On
 RewriteEngine /
 RewriteCond %{THE_REQUEST} ^GET\ /folder/(.*)
 RewriteRule ^folder/(.*) http://www.example.com/index.php/$1 [L,R=301]